.clock__container {
  padding-left: 85px;
  // padding-top: 48px;
  padding-bottom: 76px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  position: relative;

  &--inputBar {
    position: relative;
    top: 48px;
    &--text {
      & input {
        color: var(--color-tertiary);
        height: 56px;
        width: 445px;
        padding-left: 1rem;
        font-size: 16px;
        font-style: oblique;
        font-weight: bold;
        border-style: none;
      }
    }

    &--btn {
      & svg {
        width: 24px;
        height: 24px;
        fill: var(--color-tertiary);
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 302px;
        transform: translate(-50%, -50%);
      }
    }
  }

  &--time {
    width: 445px;
    height: 254px;
    position: absolute;
    top: 249px;

    &--title {
      position: relative;

      &--circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-secondary);
        border-radius: 50%;
      }

      &--text {
        position: absolute;
        top: 0;
        height: 28px;
        left: 66px;
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
      }
    }

    &--content {
      font-size: 176px;
      color: var(--color-tertiary);
    }
  }

  &--list {
    font-size: 16px;
    font-weight: bold;
    width: 445px;
    position: absolute;
    top: 610px;

    &--item {
      width: 100%;
      height: 32px;
      border-bottom: 1px solid #e5dae8;
      position: relative;
      margin-bottom: 2px;

      & svg:first-child {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        transition: 0.5s;
      }

      &--circle {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        border: 1px solid var(--color-secondary);
        border-radius: 50%;
        transition: 0.5s;
      }

      & span {
        position: absolute;
        left: 24px;
        top: 4px;
        font-size: 16px;
        line-height: 16px;
      }

      &--text {
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          transform: rotate(180deg);
          border: 1px solid #fff;

          position: absolute;
          top: 8px;
          left: 0;
        }
      }

      &--btn {
        width: 24px;
        height: 24px;
        background-color: var(--color-secondary);
        border-radius: 50%;
        fill: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
    }

    &--btn {
      width: 44px;
      height: 19px;
      color: var(--color-tertiary);
      font-weight: bold;
      font-size: 16px;
      border-style: none;
      background-color: transparent;
      display: block;
      margin-left: auto;
      margin-top: 9px;
      cursor: pointer;
    }
  }
}
